[run]
omit =
    */german_recourse.py
    */german_recourse_mip.py
    */tests/*
    */.venv/*
    */site-packages/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
